.setting-nav {
    padding: 0px 10px;
    border-right: 1px solid #e9ecef;

}

.setting-nav ul li a {
    border-radius: 5px;
    padding: 15px 10px;
    margin: 5px 0;
    display: block;
    color: #000;
}

.setting-nav ul li a:hover {
    background-color: rgb(202, 202, 202);
    cursor: pointer;
    color: #000000;
}

.setting-nav ul li a.active {
    background-color: #05a34a;
    font-weight: bold;
    color: #ffffff;
}

.setting-content {
    margin-left: 15px;
}