.dashboard-card {
    height: 160px;
    overflow: hidden;
}

.sidebar-header {
  background: #ffffff;
  border-bottom: 1px solid #f3eeee;
}

.fixed .sidebar .sidebar-body {
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .chat-container {
        height: calc(100vh - 97px);
    }

    .message-content {
        height: calc(100vh - 248px);
    }
}

@media (min-width: 992px) {
    .messenger-dialog__area {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        border-right: 0;
    }

    .chat-container {
        border-width: 1px;
    }
}

@media (min-width: 1200px) {
    .chat-panel {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.chat-area-bottom .form-control {
    padding: 10px 50px 10px 20px;
}

.chat-panel .chat-header .btn {
    padding: .375rem .75rem;
    line-height: inherit;
    margin-right: inherit;
    font-size: inherit;
    color: #fff;
}

.message-content .message .avatar {
    margin: 0;
    margin-right: 15px;
}

.radio-list label span.green,
.message-content.bg-text-green .message .text.me {
    background: #16994a;
}




.bg-1 {
    background: #cfddf7;
  }
  .bg-2 {
    background: #dffff9;
  }
  .bg-3 {
    background: #d4efff;
  }
  .bg-4 {
    background: #f5cedc;
  }
  .box-shadow-primary {
    box-shadow: -3px 6px 13px 3px #a9a8af4d;
  }
  .brround {
    border-radius: 50% !important;
  }
  .counter-icon {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 29px;
  }
  .daterangepicker td.active,
  .daterangepicker td.active:hover {
    background-color: #ef693d;
  }
  .daterangepicker td.in-range {
    background-color: rgb(239 105 61 / 13%);
  }
  .daterangepicker td.active,
  .daterangepicker td.active {
    background-color: #ef693d;
  }

  #accordionFlushExample .form-control{
    height: 36px;
  }
